# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment variables
.env

# Virtual environment
.venv/
venv/
venv-bak/
env/

# Node.js
node_modules/
npm-debug.log*

# Django
*.log
*.pot
*.pyc
*.sqlite3

# Ignore database dump files
*.dump
*.db

# Ignore Python environment
.Python

# Ignore coverage reports
htmlcov/

# SSL KEY
ssl/

# server 
*.pid

# database
*.sql

# File MAINT for Some Testing
MAINT.py
.admin

# pytest
.coverage
undefined

# Media files (uploads)
media/
# Static files
static/
staticfiles/

# Local development settings
local_settings.py

# Secret key file
secret_key.txt

# File DBBackup 
backup

# docker mount
docker

nohup.*

# IDE
.vscode/
.idea/

# Frontend
/build/
/dist/