# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment variables
.env

# Virtual environment
.venv/

# Node.js
node_modules/
npm-debug.log*

# Django
*.log
*.pot
*.pyc
*.sqlite3

# IDE
.vscode/
.idea/

# Frontend
/build/
/dist/